.chat {
	width: 100%;

	&__header {
		background-color: #fafafa;
	}

	&__body {
		background-color: gray;
	}

	&__input-section {
		background-color: #fafafa;
		display: flex;
		gap: 1rem;
	}

	&__input {
		margin: 0 1rem;
	}
}
