.message {
	display: flex;
	padding: 1rem 0;

	&__avatar {
		& img {
			width: 4rem;
			height: 4rem;
			border-radius: 50%;
			padding: 1rem;
		}
	}

	&__content {
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 5rem;
		& p {
			padding: 1rem;
			margin: 0.5rem;
			border-radius: 1rem;
			max-width: 300px;
			box-shadow: 5px 5px 8px -2px rgba(0, 0, 0, 0.33);
		}
	}

	// Modifiers
	&--right {
		justify-content: flex-end;
		& p {
			background-color: #fceded;
			margin-right: 1rem;
		}
	}

	&--left {
		justify-content: flex-start;
		& small {
			display: flex;
			justify-content: flex-end;
		}
		& p {
			background-color: seashell;
			margin-left: 1rem;
		}
	}
}
