.chat-item {
	padding: 1rem;
	display: flex;
	gap: 1rem;
	border-bottom: 1px solid gray;
	cursor: pointer;

	&__selected {
		background-color: #3c3d3f;
		border-right: 4px solid #ff0000;
	}

	&__avatar {
		display: flex;
		place-content: center;
		place-items: center;
		& img {
			width: 5rem;
			height: 5rem;
			border-radius: 50%;
		}
	}

	&__content {
		width: 100%;
	}

	&__user-name {
		color: #ffffff;
		font-size: 1.3rem;
		font-weight: 600;
	}

	&__brief-msg {
		font-size: 1rem;
		color: #9a9a9e;
	}

	&__hour {
		display: block;
		white-space: nowrap;
	}

	// Mobile
<<<<<<< HEAD
	@media (max-width: 1280px) {
=======
	@media (max-width: 1024px) {
>>>>>>> 8097b52d91ec505de6ef0a831be8526b3c4fdd45
		&__user-name {
			margin-bottom: 0.5rem;
		}

		&__brief-msg {
			margin-top: 0;
			font-size: 0.9rem;
			height: 3rem;
			overflow: hidden;
		}
	}
}
