.chat-item {
	padding: 1rem;
	display: flex;
	gap: 1rem;
	border-bottom: 1px solid gray;
	cursor: pointer;

	&__avatar {
		display: flex;
		place-content: center;
		place-items: center;
		& img {
			width: 5rem;
			border-radius: 50%;
		}
	}

	&__user-name {
		color: #ffffff;
		font-size: 1.3rem;
		font-weight: 600;
	}

	&__brief-msg {
		font-size: 1rem;
		color: #9a9a9e;
	}

	&__hour {
		display: block;
		white-space: nowrap;
	}
}
