.navbar {
	background-color: #191a1e;
	color: #b5b5b5;
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 768px;
	height: 100%;

	&__header {
		background: linear-gradient(to right, #c60000, #ff0000);
		display: flex;
		justify-content: flex-start;
		align-items: center;
		padding: 1rem;
	}

	&__title {
		font-size: 2rem;
		color: #ffffff;
		margin-left: 1rem;
	}

	&__action-btn {
		display: flex;
		margin-top: 2rem;
		place-items: center;
		place-content: center;
		font-size: 1.5rem;
		color: #fafafa;
		cursor: pointer;
		font-weight: 800;
		color: #b5b5b5;
	}

	// Mobile
	@media (max-width: 1024px) {
		height: 100vh;
		&__header {
			height: 5rem;
			img {
				width: 5rem;
				height: 5rem;
			}
		}
		&__title {
			font-size: 1.5rem;
		}

		&__body {
			height: 100%;
		}
	}
}
